@{
    ViewData["Title"] = "InfoUTEC";
}

<div class="container">
    <div class="row">

        <h1 class="display-4">Bienvenido a InfoUTEC <strong>Sureste</strong> </h1>
        <div class="col-md-8 text-center" id="calendar">
            <p>CALENDARIO ABARCANDO TODO ESTE RECUADRO</p>

        </div>

        <div class="col-md-4" id="agenda">
            <h1>AQUI IRÁN LOS CURSOS DEL DIA </h1>
        </div>
    </div>
    <div class="row">
        <h5>AQUI IRIAN LOS ANUNCIOS EN UNA BARRA EN MOVIMIENTO</h5>
    </div>
</div>
